div{
    display: flex;
    position: relative;
    background-color: var(--ion-color-secondary);
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    height: 57px;
}

img{
    position: absolute;
    left: 20px;
}

p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

@media(max-width:250px)
{
    p{
        font-size: 12px;

    }

    img{
        width: 22px;
    }
}