<ion-header>
  <!-- <ion-toolbar>
    <ion-title>green-page</ion-title>
  </ion-toolbar> -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway&display=swap" rel="stylesheet">
 
</ion-header>

<ion-content>
  <app-menu> </app-menu>
  <div class="total">

   

  <div class="top">
    <img class="couple" src="../../assets/images/coupleimg.png">
   
    <p class="head">Tap on the name you love</p>

    <div class="outputs" *ngFor="let name of coupleNames">
    <p (click)="openModal()"> #{{name}}</p>
  </div>

  <div class="buttons">
    <div class="each-button">
      <img class="dim" src="../../assets/images/Regenerate.png">
      <p>Regenerate</p>
    </div>

    <div class="each-button">
      <img class="dim" src="../../assets/images/Close.png">
      <p>Close</p>
    </div>

  </div>

   
    
  </div>

  <div>
    <img src="../../assets/images/weddingo.png">
  </div>

</div>

</ion-content>
