.head{
    font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.04em;

color: #D1D1D1;

}

.top{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.total{
    background-color: var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    align-items: center;
    height: calc(100% - 57px);
}

@media(max-height:300px){
    .total{
        height: fit-content;
    }

}

.outputs{
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;

}

.couple{
    width: 95px;
height: 100px;
}

.buttons{
    font-family: Raleway;
font-style: normal;
font-weight: 200;
font-size: 11px;
line-height: 13px;
/* identical to box height */

letter-spacing: 0.1em;

color: #DEDEDE;
}

.buttons{
    display: flex;
    padding-top: 10%;
    /* padding: 5% 0%; */
    width: 100%;
    justify-content: space-around;
}

.each-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dim{
    width: 52px;
    height: 52px;
}