.total{
    background-color: var(--ion-color-primary);
    font-family: Raleway;
font-style: normal;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4%;
    align-items: center;
    height: caLc(100% - 57px) ;
}

@media(max-height:780px){
    .total{
        height: fit-content;
    }

}

.top{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 94%;
    width: 95%;
}

.first{
    text-align: center;

}

.second{
    font-size: 58px;
line-height: 71px;
/* identical to box height */

letter-spacing: 0.04em;
width: 100%;
margin-top: 15%;

color: #FFFFFF;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
width: 100%;
    padding-bottom: 5%;
}

.input{
    font-size: 18px;
line-height: 21px;
letter-spacing: 0.04em;

background-color: var(--ion-color-primry);
    /* border: none; */
    /* padding: 5%; */
    padding-bottom: 5%;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 90%;
    border-bottom: 1px solid #FFFFFF;

    &:focus{
        outline: none;
    border-bottom: 1px solid #F24964;
    font-size: 18px;
line-height: 21px;
width: 100%;
    }

}

.and{
    font-family: Rambla;
    margin: 3%;
}

.third{
    font-weight: 300;
font-size: 11px;
line-height: 13px;
/* identical to box height */

text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;
margin-top: 12%;

}

.dim{
    width: 131px;
height: 138px;
}

.heading{
    font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.04em;

color: #D1D1D1;
margin-bottom:0%;

}


.footer-text{
    font-weight: 300;
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #e1e1e1;
}

.btn{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;
background: var(--ion-color-tertiary);
border-radius: 4px;
width: fit-content;
    padding: 4%;
    margin: 3%;
}

.third-2{
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
    align-items: center;

    margin-top: 12%;
}