<ion-header>
  <!-- <ion-toolbar>
    <ion-title>green-page</ion-title>
  </ion-toolbar> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rambla&display=swap" rel="stylesheet"> -->
</ion-header>

<ion-content>

<app-menu> </app-menu>
 <div class="total">

  <div class="top">
<div style="width: 95%">
    <div class="first">
      <img class="dim" src="../../assets/images/coupleimg.png">

      <p class="heading"> Enter Names </p>
    </div>

    <div class="second">
      <ion-input type="text" class="input" (ionInput)="printValue()" [(ngModel)]="names.boy" placeholder="His Name">
        
      </ion-input>
     
      <p class="and">&</p>

      <ion-input type="text" class="input" [(ngModel)]="names.girl" placeholder="Her Name"></ion-input>
     
<p></p>
    </div>
  

    <!-- <div class="third">
      <img src="../../assets/images/redheart.png">
      <p>Coming up with couple names</p>
    </div> -->

    <div class="third-2">
      <p class="footer-text">We are ready with a great selection of names for you guys.</p>

      <button (click)="generateCouplename()" class="btn"> Check Out Names ! </button>
    </div>

    </div>
  
</div>
  <div class="footer">
    <img style="margin: 12% 0%;" src="../../assets/images/weddingo.png">

  </div>
 </div>

</ion-content>