<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->


  <body class="total">
    <div class="top">
      <div class="img">
        <div class="output">
          <p class="name"> #saifeena</p>

          <div class="circle">
            <img class="heart" src="../../assets/images/Vector.png">
            <p class="no-m">saif</p>
            <p class="no-m">&</p>
            <p class="no-m">Kareena</p>

          </div>

        </div>

        <div class="img-foot">
          <p> made with weddingo couple name generator </p>
        </div>

      </div>

      <div class="buttons">
        <div class="each-button">
          <img src="../../assets/images/Share.png">
          <p > Share</p>
        </div>
        <div class="each-button">
            <img src="../../assets/images/Close.png">
            <p > Close</p>
          </div>

      </div>

    </div>

    <div class="bottom">
      <img src="../../assets/images/weddingo.png">
    </div>
    
  </body>
</ion-content>
