.total{
    background-color: var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0%;
}

.img{
    background-image: url(../../assets/images/saifeenaback.png);
    background-repeat: no-repeat;
    display: flex;
    /* align-items: center; */
    
    width: 95%;
    /* height: 148%; */
    background-size: cover;
    border-radius: 8px;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* height: 76%; */
    padding-top: 13%;
}

.output{
    width: 100%;
    /* height: 76%; */
    padding-bottom: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.name{
    font-family: Raleway;
font-style: normal;
font-weight: 1000;
font-size: 30px;
line-height: 35px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #000000;

}

.circle{
    font-family: Raleway;
font-style: italic;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
border-radius: 100%;
    width: 138px;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;

color: #000000;
background: rgba(255, 255, 255, 0.4);
position: relative;
align-items: center;
}

.no-m{
    margin: 1%;
    z-index: 100;
}

.img-foot{
    font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
/* identical to box height */

letter-spacing: 0.04em;

color: #000000;
text-transform: uppercase;
}

.each-button{
    font-family: Raleway;
font-style: normal;
font-weight: 200;
font-size: 11px;
line-height: 13px;
/* identical to box height */

letter-spacing: 0.1em;
display: flex;
    flex-direction: column;
    align-items: center;


color: #DEDEDE;;


}

.buttons{
    padding-top: 10%;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.heart{
    position: absolute;
}