.total-back{
    background-color: var( --ion-color-primary);
    padding: 4%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo{
    width: 202px;
    height: 35px;
    margin: 20% 0%;
}

@media(max-height:485px){
    .total-back{
        height: fit-content;
    }

}

.title{
    font-family: Helvetica;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #7E7E7E;
    margin: 0%;
}

.flame{
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.11em;
    color: #cfc6c6;
    text-align: center;
    margin: 7% 0%;

}

.each{
    padding: 20% 0%;
}

.all-4{
    display: flex;
    width: 75%;
    margin: 9% 0%;
    justify-content: space-between;
}

.only-2{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
  
}

.footer{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #21B652;
}

.upper{
    display: flex;
    height: 68%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}