<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div class="total-back">
    

    <div class="upper">
      <img class="logo" src="../../assets/images/logo.png">

    <p class="title">
      Select a couple game, you’ll love it 
    </p>
    <div class="all-4">
      
      <div class="only-2">
        <div class="each" [routerLink]="['/enter-name/1']">
          <img src="../../assets/images/couplename.png">
          <p class="flame" >
            COUPLENAME GENERATOR
          </p>
        </div>
        <div class="each">
          <img src="../../assets/images/flame.png">
          <p class="flame">
            FLAMES
          </p>
        </div>
      </div>

      <div class="only-2">
        <div class="each">
          <img src="../../assets/images/flame.png">
          <p class="flame">
            FLAMES
          </p>
        </div>
        <div class="each">
          <img src="../../assets/images/flame.png">
          <p class="flame">
            FLAMES
          </p>
        </div>
      </div>

    </div>


  </div>

    <p class="footer">www.weddingo.in</p>


  </div>
</ion-content>